<nav class="navbar navbar-expand-sm">
    <div class="container-fluid ">
      <div>
        <div class="navbar-nav">
            <div class="red-circle"></div>
          <a class="nav-link "  [routerLink]="['pokedex']">POKEDEX</a>
          <a class="nav-link" aria-current="page" href="#">TEAM BUILDER</a>
          <a class="nav-link" aria-current="page" href="#">FEED</a>
          <a class="nav-link user" aria-current="page" href="#">USER GUIDE</a>
          <img src="../../assets/img/pokeballogo.png" alt="">
          <a class="nav-link" href="#">User</a>          
        </div>
      </div>
    </div>
  </nav>