<nav class="navbar navbar-expand-sm">
    <div class="container-fluid ">
      <div class="collapse navbar-collapse  container" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <div class="red-circle"></div>
          <a class="nav-link active" aria-current="page" href="#">POKEDEX</a>
          <img src="../../assets/img/pokeballogo.png" alt="">
          <a class="nav-link" href="#">Login</a>
        </div>
      </div>
    </div>
  </nav>

  <section class="guest-content">
      <img class="top-img" src="../../assets/img/pokemon-login.jpg" alt="">
      <h5 class="text-top"><span>All </span>Generation </h5>

      <div class="bot-img">
      <img class="sala" src="../../assets/img/salameche.png" alt="">
      <h5 id="accordeon" class="text-sala"><span>First </span>Generation </h5>
      <img class="heriss" src="../../assets/img/herissandre.png" alt="">
      <h5 id="accordeon" class="text-heri"><span>Second </span>Generation </h5>
    </div>
  </section>